{% if site.comments_enabled and page.comments %}
<aside id="comments" class="utterances_container">

    <div class="container">
      

      <div class="icon-header">
        <img src="/assets/icons/comment.png" alt="Comment" class="icon">
        <h3> Comments</h3>
      </div>

      <script src="https://utteranc.es/client.js"
        repo="{{site.repo}}"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>

      <noscript>
        Please enable JavaScript to view the comments.</a>
      </noscript>
    </div>

</aside>
{% endif %}
